
	<h1></h1>

	<div class="containerw3layouts-agileits">

		<div class="w3imageaits">
			<img src="images/web.jpg" alt="">
		</div>

		<div class="aitsloginwthree w3layouts agileits">
			<h2>登录</h2>
			<form action="#" method="post">
                {{ form.hidden_tag() }}

				{# Username or Email field #}
    {% set field = form.username if user_manager.enable_username else form.email %}
				<ul class="tick w3layouts agileinfo">
					<li>
						<input type="checkbox" id="brand1" value="">
						<label for="brand1"><span></span>记住我</label>
					</li>
					<li>
						<a href="#">忘记密码?</a>
					</li>
				</ul>
				<div class="send-button wthree agileits">
					<input type="submit" value="登录">
				</div>
			</form>
		</div>

		<div class="clear"></div>

	</div>

	<div class="login_container">
		<p> &copy; 2017 镜听. All Rights Reserved</p>
	</div>