{% extends "base.html" %}

{% block title %} {{video.title}} {% endblock %}

{% block head %}
{{ super() }}
<script src="./../static/echarts.js"></script>
{% endblock %}

{% block content %}
<div class="show-top-grids">
				<div class="col-sm-8 single-left">
					<div class="song">
						<div class="video-grid">
							<iframe src="https://www.youtube.com/embed/{{video.video_id}}" allowfullscreen></iframe>
						</div>
					</div>

					<div class="clearfix"> </div>
					<div class="published">
						<script src="./../static/for_video/js/jquery-1.11.1.min.js"></script>
							<script>
								$(document).ready(function () {
									size_li = $("#myList li").size();
									x=10;
									$('#myList li:lt('+x+')').show();
									$('#loadMore').click(function () {
										x= (x+1 <= size_li) ? x+1 : size_li;
										$('#myList li:lt('+x+')').show();
									});
									$('#showLess').click(function () {
										x=(x-1<0) ? 1 : x-1;
										$('#myList li').not(':lt('+x+')').hide();
									});
								});
							</script>
							<div class="load_more">
								<ul id="myList">
									<li>
										<h4>Published on {{ video.published_at[0:10] }}</h4>
										<p>描述</p>
									</li>
									<li><p>语速：{{video.speed}}</p></li>
                   					 <li><p>单词数：{{video.word_number}}</p></li>
									<li><p>字幕：{{video.clean_transcript}}</p></li>

									<li>
										<div class="load-grids">
											<div class="load-grid">
												<p>Category</p>
											</div>
											<div class="load-grid">
												<a href="movies.html">Entertainment</a>
											</div>
											<div class="clearfix"> </div>
										</div>
									</li>
								</ul>
							</div>
					</div>
				</div>

				<div class="clearfix"> </div>
</div>
{% endblock %}

